body {
    background-image: url('/Users/mahoganycoleman/bootcamp/assignments/portfolio/index/pictures/DSC01008.jpg'); 
    background-position: cover;
    background-repeat: no-repeat;
    background-position: 35% 0%;
}


.work{
    display:flex;
    flex-direction: row;
    
}
nav {
   
    padding: 10px;
    display:flex;
    justify-content: flex-end;
  /*  height: 25px;
    text-align: center;
    margin-left: 300px;*/
    
}
nav a {
    color: black;
    text-decoration:underline;
    margin-right: 100px;
    font-size: 35px;
    font-style: italic;
    font-weight: bolder;
}
img {
    object-fit: contain;
    width: 400px;
    height: 200px;
} 
#stack {
    text-align: left;
    position:absolute top left;
    /*margin-top: 100px;*/
    font-style: italic;
    color:rgb(90, 85, 85) ;
}
h2, h3 {
    color:white;
    text-align: left;
    font-size: 30px;
    padding-bottom: 20px;
    
}
.column1 {
    float: left;
    width: 50%;
    
}
.column2 {
    float: right;
    width: 50%;
}
header {
    width: 100%;
    font-size: 75px;
    margin-bottom: 10px;
    color: white;
    font-weight: bolder;
    text-align: left;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:underline;
    
    
}
.bio {
    height: 500px;
    margin: 20px;
    margin-left: 250px;
    color:white ;
    align-items: right;
    width: 50%;
    font-size: 20px;
    transform: skew(-2deg);

}

.info {
    height: 500px;
    margin: 20px; 
     
}
.info a {
    color: white;
    font-size: 20px;
    margin-left: 200px;

}
.codes {
    
    height: 100px;
    width: 200px;
    border:solid 1px black;
    border-radius: 5px;
    margin: 20px;
}

body, figure, img, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}


ul.portfolio-list {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    list-style-type: none;
}

  

ul.portfolio-list li {
    flex-basis: 30%;
    margin-right: 20px;
    position: relative;
   
    padding: 50px; 
    box-sizing: border-box; 
    
}



img {
    max-width: 100%;
    height: auto;
    
}



ul.portfolio-list li img:hover {
    opacity: 0.8;
}

ul.portfolio-list li:first-child img {
    transform: scale(2.1); 
  }
  .footer {
    background-color: #1c1c1c;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  }
  
@media screen and (max-width: 768px) {
    body {
        background-image: none;
        background-color: gray;
    }
    .column2 {
      width:100%;  
    } 
}
    /*.portfolio-list {
        flex-direction: column;
        align-items: center;
    }
    

    .portfolio-list li {
        flex-basis: 100%;
    }
}

#aboutme {
    text-align: left; 
    margin-left: 0; 
  }
  


  
  