body {
    background-image: url(https://cdn.w600.comps.canstockphoto.com/black-woman-curly-hair-afro-female-drawing_csp89612090.jpg) ;
    background-repeat: no-repeat ;
    background-size: cover;
    align-content: center;
   
}
header {
    height: 200px;
    width: 100%;
    background-color: antiquewhite;
    
    

}